@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;800&family=Space+Mono:ital,wght@0,400;1,700&display=swap');
:root {
    --colour: #9d0208;
    --colourDarker: #6a040f;
}
#home, .bigContainerLogin {
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body{
    background-color: black;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.25rem;
}

h2{
    font-size: 6.67rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    text-align: center;
}
/* ------------------------ Navigation Bar ------------------------*/
.nav{
    font-weight: 300;
    font-size: 1.67rem;
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
}

.navList {
    align-items: center;
}

.navList  .logo{
    height: 2.0625rem;
}
.nav a{
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav a:hover{
    color: var(--colourDarker);
}

.navList ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2.033rem;
}

.navList .listItem {
    display: inline-block;

}
.navList .listItemC {
    font-weight: 500;
    color: var(--colour);
    display: inline-block;

}
.navList {
    display: inline-block;
}
.navList .listItemC a{
    color: var(--colour);
}

@media screen and (max-width: 1096px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navList ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navList .listItem, .listItemC {
        display: block;
        margin-bottom: 0.625rem;
    }
}
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }

    .navList ul {
        flex-direction: column;
        align-items: center;
        gap: 0.8333rem;
    }

    .navList .listItem {
        display: block;
        margin-bottom: 0.625rem;
    }
}
/* ------------------------ Main Text For Home ------------------------*/
.miniAboutMe p{
    font-family: 'Space Mono', monospace;
    margin-top: 1.25rem;
    text-align: center;
}

.miniAboutMe .AboutDiv p {
    width: 0;
    animation: typing 5s steps(80), blink .5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2rem solid;
}

@keyframes typing {
    100% {
        width: 80ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.miniAboutMe .AboutDiv p {
    animation-fill-mode: forwards;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 9.333rem;
}
.miniAboutMe h1{
    text-align: center;
}


.HomeContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 60% 25% 5%;
    grid-template-areas:
        "header"
        "miniAboutMe"
        "LinkButtons"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;

}
.header{
    grid-area: header;
}

.miniAboutMe{
    grid-area: miniAboutMe;
    display:flex;
    align-items: center;
    justify-content: center;
}

.LinkButtons{
    grid-area: LinkButtons;
}
footer{
    grid-area: footer;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 0.833rem;
    padding-bottom: 0.833rem;
}
/* ------------------------ Button Section ------------------------*/
.button{
    border: thick solid var(--colour);
    background-color: transparent;
    color: var(--colour);
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.417rem;
    padding: 1.25rem 4.42rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4.167rem;
    transition: 0.5s ease;
}
.button:hover{
    background-color: var(--colour);
    color: black;
}
.LinkButtons {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "b1"
        "b2";
    justify-content: center;

}
.b1{
    grid-area: b1;
}

.b2{
    grid-area: b2;
    justify-content: center;
    display: flex;
}

.b2 a{
    padding-left: 0.417rem;
    padding-right: 0.417rem;
    padding-top: 1rem;
}
/* ------------------------ Main Text For About Me Page ------------------------*/
.AboutMeContainer h2{
    text-align: left;
}
.AboutMe{
    text-align: justify;
    padding-right: 4.167rem;
}
.AboutMe p{
    font-weight: 300;
    padding-bottom: 1.333rem;
    line-height: 1.5rem;
}
.AboutMe #blue{
    color: var(--colour);
    font-weight: 500;
    padding-bottom: 0;
}
.header{
    grid-area: header;
}

.AboutMeWrapper{
    grid-area: AboutMeWrapper;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.AboutMeContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "AboutMeWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}

.Profile{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "figure figure figure"
        "b1a b2a b3a";
    margin-top: 3%;
}

 footer{
    margin-bottom: 1.9%;
}
.Profile figure{
    grid-area: figure;
}
.b1a{
    grid-area: b1a;
}
.b2a{
    grid-area: b2a;
}
.b3a{
    grid-area: b3a;
}

.Profile figure img {
    width: 100%;
}


/* ------------------------ Login Page ------------------------*/
.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
}
.bigContainerLogin{
    height: 100vh;
}

.container {
    background-color: var(--colour);
    border-radius: 0.417rem;
    padding: 1.667rem;
    width: 25rem;
    text-align: center;
    color: black;

}

.LoginContainer h3 {
    margin-top: 0;
    margin-bottom: 0.167rem;
    font-size: 3rem;
    font-weight: 600;
}

#email, #password{
    font-family: 'Space Mono', monospace;
    width: 50%;
    padding: 1rem 1.667rem;
    margin: 0.667rem 0;
    display: inline-block;
    border: 0.083rem solid #280709;
    border-radius: 1rem;
    box-sizing: border-box;
}

.LoginContainer button[type="submit"] {
    background-color: transparent;
    padding: 0.417rem 1.667rem;
    cursor: pointer;
    border: thick solid black;
    color: black;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.083rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4.167rem;
    transition: 0.5s ease;
}
.LoginContainer button[type="submit"]:hover {
    background-color: black;
    color: var(--colour);
}
/* ------------------------ Skills Page ------------------------*/
.SkillsWrapper{
    grid-area: SkillsWrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.833rem;
    align-items: center;
    margin-bottom: 8.33rem;

}
.Column{
    background-color: #262523;
    border-radius: 0.667rem;
    text-align: center;
    padding: 5rem 3.33rem;
}
#badge,#badge2{
    padding: 5rem 3.83rem;
}
.skillCard{
    scale: 1.25;
}
h3{
    font-weight: 500;
    font-size: 1.33rem;
    letter-spacing: 0.083rem;
    padding-top: 0.833rem;
}
.Heading{
    grid-area: Heading;
    margin-top: 4.167rem;
    margin-bottom: 0.833rem;
}
.red{
    color: var(--colour);
}
.SkillsContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "SkillsWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}
.skillCard img{
    height: 8.333rem;
    width: auto;
}

/* ------------------------ Education & Experience Page ------------------------*/
.EdExContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "EdExWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}

.EdExWrapper{
    grid-area: EdExWrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.833rem;
    align-items: center;
    margin-bottom: 8.333rem;

}

.ColumnEdEx,.ColumnEdEx2{
    background-color: #262523;
    border-radius: 1rem;
    text-align: center;
    padding: 2.5rem 3.333rem;
    width: 35.833rem;
    max-width: 35.833rem;
    height: 29.583rem;
    max-height: 29.583rem;
    display: table;
    transition: 0.5s ease;
}
.ColumnEdEx:hover,.ColumnEdEx2:hover{
    background-color: transparent;
    border-color: var(--colour);
    border-style: solid;
    border-width: 0.833rem;
    border-radius: 1rem;
    padding: 1.667rem 2.5rem;
}

.EdExCard{
    display: table-cell;
    vertical-align: middle;
}
.EdExCard li{
    padding-top: 0.417rem;
}
.EdExCard .subheading,.EdExCard .subheading1{
    font-weight: 800;
    padding-top: 0;
}
.EdExCard .subheading{
    padding-top: 1.25rem;
}
/* ------------------------ Portfolio Page ------------------------*/
.PortfolioContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "PortfolioWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
    overflow-x: hidden;
}

.PortfolioWrapper{
    grid-area: PortfolioWrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.833rem;
    align-items: center;
    padding-bottom: 1.13rem;
}
.ColumnPortfolio img, .ColumnPortfolio2 img, .ColumnPortfolio3 img{
    width: 100%;
    border-radius: 0.833rem;
}

.ColumnPortfolio, .ColumnPortfolio2, .ColumnPortfolio3{
    background-color: black;
    border-radius: 1rem;
    text-align: center;
    width: 30rem;
    display: table;
    position: relative;
    transition: 0.5s ease;
}
.ColumnPortfolio2{
    width: 33rem;
}
.ColumnPortfolio:hover,.ColumnPortfolio2:hover,.ColumnPortfolio3:hover{
    transform: scale(1.1);
    z-index: 2;
    border-radius: 1rem;
    background-color: transparent;
    color: var(--colour);
}
.ColumnPortfolio, .ColumnPortfolio2, .ColumnPortfolio3 {
    transition: transform 0.5s;
}
.PortfolioCard{
    display: table-cell;
    vertical-align: middle;
}
.PortfolioCard li{
    padding-top: 0.4167rem;
}
.PortfolioCard .subheading,.PortfolioCard .subheading1{
    font-weight: 800;
    padding-top: 0;
}
.PortfolioCard .subheading{
    padding-top: 1.25rem;
}

.ColumnPortfolio .number,.ColumnPortfolio2 .number,.ColumnPortfolio3 .number{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0.833rem;
    padding-top: 0.833rem;
    font-size: 3.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;

}
.PortfolioContainer h3{
    font-family: 'Space Mono', monospace;
    font-size: 100%;
    letter-spacing: -0.02rem;
}
/* ------------------------ Blog Page ------------------------*/
.BlogContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "blogRow"
        "footer" ;
    min-height: 100vh;
}

.card, .card1{
    background-color: #262523;
    padding: 1.667rem;
    margin-top: 1.667rem;
    box-sizing: border-box;
    border-radius: 0.667rem;
}

.mainBlog {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-left: 1.667rem;
}

/* Right column */
.blogAside {
    float: left;
    width: 30%;
    padding-left: 1.667rem;
    box-sizing: border-box;
    padding-right: 1.667rem;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .mainBlog, .blogAside {
        width: 100%;
        padding: 0;
    }
}
.blogImg img{
    width: 50%;
    padding: 1.667rem;
    box-sizing: border-box;
    border-radius: 1rem;
}
.BlogContainer h3{
    font-weight: 800;
    padding-bottom: 0.667rem;
    color: var(--colour);
    text-shadow: 0 0.1rem black;
}
h5{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.0417rem;
    font-size: 1rem;
}

.container {
    background-color: var(--colour);
    border-radius: 0.417rem;
    padding: 1.667rem;
    width: 25rem;
    text-align: center;
    color: black;

}

#title, #description{
    font-family: 'Space Mono', monospace;
    width: 100%;
    padding: 1rem 1.667rem;
    margin: 0.667rem 0;
    display: inline-block;
    border: 0.083rem solid var(--colourDarker);
    border-radius: 0.667rem;
    box-sizing: border-box;
}

.BlogContainer #postBtn, .BlogContainer #clearBtn, .BlogContainer #previewBtn {
    background-color: transparent;
    padding: 0.417rem 1.667rem;
    cursor: pointer;
    border: thick solid white;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.083rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.667rem;
    gap: 0.667rem;
}
.BlogContainer #postBtn{
    margin-left:0.833rem ;
    margin-right: 0.833rem;
    border: thick solid darkgreen;
    color: green;
    transition: 0.5s ease;
}
.BlogContainer #clearBtn{
    margin-left: 0.833rem;
    padding: 0.417rem 1.48rem;
    transition: 0.5s ease;
}
.BlogContainer #postBtn:hover{
    background-color: darkgreen;
    color: black;
    border-color: black;
}
.BlogContainer #clearBtn:hover{
    background-color: var(--colour);
    color: black;
    border-color: black;
}
.card1{
    text-align: center;
}
.card .b2{
    gap: 0.833rem;
}
.card .b2 a{
    scale: 1.5;
    padding-top: 1rem;
}

/* ------------------------ Media Queries ------------------------*/


@media screen and (max-width: 1307px) {
    .AboutMeWrapper{
        flex-direction: column;
        align-items: center;
    }
    .AboutMeContainer h2{
        text-align: center;
    }
    .AboutMeContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
        "header"
        "AboutMeWrapper"
        "footer" ;
        min-height: 99vh;
        max-height: 100vh;
    }
}

@media screen and (max-width: 990px) {
    .miniAboutMe .AboutDiv p {
        width: auto;
        animation: none;
        white-space: normal;
        overflow: visible;
        border-right: none;
    }
    .miniAboutMe h1, .miniAboutMe p {
    display: block;
    width: 100%;
    }
}

@media screen and (max-width: 1306px) {
    .AboutMe{
        padding-right: 0;
    }
}

.card1 .success,.blogAside .login{
    background-color: #31611a;
    margin-top: 1.667rem;
    box-sizing: border-box;
    border-radius: 0.667rem;
    padding: 0.8rem 1rem;
    align-items: center;
    justify-content: center;

}
.blogAside .login {
    background-color: var(--colour);
    transition: 0.5s ease;
    display: flex;
}
.blogAside .login:hover{
    cursor: pointer;
    background-color: var(--colourDarker);
}
.blogAside a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1164px){
    .BlogContainer #postBtn, .BlogContainer #clearBtn {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}
.dropdownMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.dropdownMenu #button1{
    border: 0;
    background: var(--colour);
    color: white;
    margin-top: 1.667rem;
    box-sizing: border-box;
    border-radius: 0.667rem;
    padding: 0.8rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: 0.5s ease;
}
.dropdownMenu #button1:hover, .dropdownMenu #button1:active{
    background: var(--colourDarker);
}
.icon{
    font-size: 1.25rem;
    margin-right: 0.55rem;
}
.login .icon{
    font-size: 1.4rem;
    margin-right: 0.55rem;
}
.dropdownMenu ul{
    display: none;
    align-items: flex-end;
    background-color: #262523;
    margin-top: 1.5rem;
    border-radius: 0.667rem;
    position: absolute;
    z-index: 1;
    top: 100%;
    right:0;
}
.dropdownMenu:hover ul{
    display: block;
}
.dropdownMenu ul li a{
    display: flex;
    padding: 0.625rem 1.25rem;
    height: 0.625rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.0623rem;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}.dropdownMenu ul li a:hover{
    color: var(--colour);
}
.dropdownMenu ul li:first-child a{
    padding-top: 1.25rem;
}
.dropdownMenu ul li:last-child a{
    padding-bottom: 1.25rem;
}
.dropdownMenu ul:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: 16px solid;
    border-color: transparent transparent #262523 transparent;
}
.dropdownMenu button.active + ul{
    display: block;
    right:0;
}
.dropdownMenu ul li:last-child button {
    background-color: var(--colourDarker);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.667rem;
    margin-top: 0.5rem;
}
