@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;500;800&family=Space+Mono&display=swap');

:root {
    --colour: #9d0208;
    --colourDarker: #6a040f;
}
#home, .bigContainerLogin {
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body{
    background-color: black;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 15pt;
}

h2{
    font-size: 80pt;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    text-align: center;
}
/* ------------------------ Navigation Bar ------------------------*/
.nav{
    font-weight: 300;
    font-size: 20pt;
    display: flex;
    justify-content: space-around;
    padding-top: 30pt;
}

.navList {
    align-items: center;
}

.navList  .logo{
    height: 33px;
}
.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: var(--colourDarker);
}

.navList ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:25pt;
}

.navList .listItem {
    display: inline-block;

}
.navList .listItemC {
    font-weight: 500;
    color: var(--colour);
    display: inline-block;

}
.navList {
    display: inline-block;
}
.navList .listItemC a{
    color: var(--colour);
}

@media screen and (max-width: 1096px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navList ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navList .listItem, .listItemC {
        display: block;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }

    .navList ul {
        flex-direction: column;
        align-items: center;
        gap: 10pt;
    }

    .navList .listItem {
        display: block;
        margin-bottom: 10px;
    }
}
/* ------------------------ Main Text For Home ------------------------*/
.miniAboutMe p{
    font-family: 'Space Mono', monospace;
    margin-top: 15pt;
    text-align: center;
}

.miniAboutMe .AboutDiv p {
    width: 0;
    animation: typing 12s steps(80), blink .5s, infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2pt solid;
    animation-iteration-count: infinite;
}

@keyframes typing {
    50% {
        width: 80ch;
    }
    0% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.miniAboutMe .AboutDiv p {
    animation-fill-mode: forwards;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 112pt;
}
.miniAboutMe h1{
    text-align: center;
}


.HomeContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 60% 30% 5%;
    grid-template-areas:
        "header"
        "miniAboutMe"
        "LinkButtons"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;

}
.header{
    grid-area: header;
}

.miniAboutMe{
    grid-area: miniAboutMe;
    display:flex;
    align-items: center;
    justify-content: center;
}

.LinkButtons{
    grid-area: LinkButtons;
}
footer{
    grid-area: footer;
    font-weight: 400;
    font-size: 12pt;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
/* ------------------------ Button Section ------------------------*/
.button{
    border: thick solid var(--colour);
    background-color: transparent;
    color: var(--colour);
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 15pt;
    letter-spacing: 5pt;
    padding: 15pt 53pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50pt;
}
.button:hover{
    background-color: var(--colour);
    color: black;
}
.LinkButtons {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "b1"
        "b2";
    justify-content: center;

}
.b1{
    grid-area: b1;
}

.b2{
    grid-area: b2;
    justify-content: center;
    display: flex;
}

.b2 a{
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 12pt;
}
/* ------------------------ Main Text For About Me Page ------------------------*/
.AboutMeContainer h2{
    text-align: left;
}
.AboutMe{
    text-align: justify;
    padding-right: 50pt;
}
.AboutMe p{
    font-weight: 300;
    padding-bottom: 16pt;
    line-height: 18pt;
}
.AboutMe #blue{
    color: var(--colour);
    font-weight: 500;
    padding-bottom: 0;
}
.header{
    grid-area: header;
}

.AboutMeWrapper{
    grid-area: AboutMeWrapper;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.AboutMeContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "AboutMeWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}

.Profile{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "figure figure figure"
        "b1a b2a b3a";
    margin-top: 3%;
}

 footer{
    margin-bottom: 1.9%;
}
.Profile figure{
    grid-area: figure;
}
.b1a{
    grid-area: b1a;
}
.b2a{
    grid-area: b2a;
}
.b3a{
    grid-area: b3a;
}

.Profile figure img {
    width: 100%;
}

@media screen and (max-width: 1307px) {
    .AboutMeWrapper{
        flex-direction: column;
        align-items: center;
    }
    .AboutMeContainer h2{
        text-align: center;
    }
    .AboutMeContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
        "header"
        "AboutMeWrapper"
        "footer" ;
        min-height: 99vh;
        max-height: 100vh;
    }
}
/* ------------------------ Login Page ------------------------*/
.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--colour);
    border-radius: 5pt;
    padding: 20pt;
    width: 300pt;
    text-align: center;
    color: black;

}

.LoginContainer h3 {
    margin-top: 0;
    margin-bottom: 2pt;
    font-size: 36pt;
    font-weight: 600;
}

#email, #password{
    font-family: 'Space Mono', monospace;
    width: 50%;
    padding: 12pt 20pt;
    margin: 8pt 0;
    display: inline-block;
    border: 1pt solid #280709;
    border-radius: 12pt;
    box-sizing: border-box;
}

.LoginContainer button[type="submit"] {
    background-color: transparent;
    padding: 5pt 20pt;
    cursor: pointer;
    border: thick solid black;
    color: black;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 12pt;
    letter-spacing: 1pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50pt;
}
/* ------------------------ Skills Page ------------------------*/
.SkillsWrapper{
    grid-area: SkillsWrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10pt;
    align-items: center;
    margin-bottom: 100pt;

}
.Column{
    background-color: #262523;
    border-radius: 8pt;
    text-align: center;
    padding: 60pt 40pt;
}
#badge,#badge2{
    padding: 60pt 46pt;
}
.skillCard{
    scale: 1.25;
}
h3{
    font-weight: 500;
    font-size: 16pt;
    letter-spacing: 1pt;
    padding-top: 10pt;
}
.Heading{
    grid-area: Heading;
    margin-top: 50pt;
    margin-bottom: 10pt;
}
.Heading .red{
    color: var(--colour);
}
.SkillsContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "SkillsWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}
.skillCard img{
    height: 100pt;
    width: auto;
}

/* ------------------------ Education & Experience Page ------------------------*/
.EdExContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "EdExWrapper"
        "footer" ;
    min-height: 99vh;
    max-height: 100vh;
}

.EdExWrapper{
    grid-area: EdExWrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10pt;
    align-items: center;
    margin-bottom: 100pt;

}

.ColumnEdEx,.ColumnEdEx2{
    background-color: #262523;
    border-radius: 12pt;
    text-align: center;
    padding: 30pt 40pt;
    width: 430pt;
    max-width:430pt;
    height: 355pt;
    max-height: 355pt;
    display: table;
}
.ColumnEdEx:hover,.ColumnEdEx2:hover{
    background-color: transparent;
    border-color: var(--colour);
    border-style: solid;
    border-width: 10pt;
    border-radius: 12pt;
    padding: 20pt 30pt;
}

.EdExCard{
    display: table-cell;
    vertical-align: middle;
}
.EdExCard li{
    padding-top: 5pt;
}
.EdExCard .subheading,.EdExCard .subheading1{
    font-weight: 800;
    padding-top: 0;
}
.EdExCard .subheading{
    padding-top: 15pt;
}
/* ------------------------ Blog Page ------------------------*/
.BlogContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "header"
        "Heading"
        "blogRow"
        "footer" ;
    min-height: 100vh;
}

.card, .card1{
    background-color: #262523;
    padding: 20pt;
    margin-top: 20pt;
    box-sizing: border-box;
    border-radius: 8pt;
}

.mainBlog {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-left: 20pt;
}

/* Right column */
.blogAside {
    float: left;
    width: 30%;
    padding-left: 20pt;
    box-sizing: border-box;
    padding-right: 20pt;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .mainBlog, .blogAside {
        width: 100%;
        padding: 0;
    }
}
.blogImg img{
    width: 50%;
    padding: 20pt;
    box-sizing: border-box;
    border-radius: 12pt;
}
.BlogContainer h3{
    font-weight: 800;
    padding-bottom: 8pt;
    color: var(--colour);
    text-shadow: 0 1.2pt black;
}
h5{
    letter-spacing: 0.5pt;
    font-size: 12pt;
    padding-bottom: 12pt;
}

.container {
    background-color: var(--colour);
    border-radius: 5pt;
    padding: 20pt;
    width: 300pt;
    text-align: center;
    color: black;

}

#title, #description{
    font-family: 'Space Mono', monospace;
    width: 100%;
    padding: 12pt 20pt;
    margin: 8pt 0;
    display: inline-block;
    border: 1pt solid var(--colourDarker);
    border-radius: 8pt;
    box-sizing: border-box;
}

.BlogContainer button[type="submit"], .BlogContainer button[type="reset"] {
    background-color: transparent;
    padding: 5pt 20pt;
    cursor: pointer;
    border: thick solid white;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 12pt;
    letter-spacing: 1pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8pt;
    gap: 8pt;
}
.BlogContainer button[type="submit"]{
    margin-right: 10pt;
}
.BlogContainer button[type="reset"]{
    margin-left: 10pt;
}
.BlogContainer button[type="submit"]:hover, .BlogContainer button[type="reset"]:hover{
    background-color: var(--colour);
    color: black;
    border-color: black;
}
.card1{
    text-align: center;
}
.card .b2{
    gap: 10pt;
}
.card .b2 a{
    scale: 1.5;
    padding-top: 12pt;
}
